{% extends "auctions/layout.html" %}



{% block body %}
    <h2>Active Listings</h2>
    
    {% for message in messages %}
        <div  id="displaymsg" class="alert alert-dark" role="alert">
            {{message}}
        </div>
    {% endfor %} 

        {% for item in items %}
       
        <a href="/listing/{{item.id}}">
           
            <div class="list-group-item border-radius listing">
                <div class="wrapper">
                    <p class="font"> {{ item.name }}</p>
                    <p class="font-smaller"> Current price: <span style="color: black;">{{ item.startingbid }} $</span></p>
                    
                    <p class="font-smaller"> Product description: <span class="description" style="color: black;">{{ item.description }}</span> See more...</p>
                    
                    <p class="font-smaller">Category: <span style="color: black;">{{ item.category }}</span></p>
                </div>
                <img class="image-stabilizer right" src="{{item.image}}" alt="No picture provided" height="200">
            </div>  
        </a>
  
            <div class="separator"></div>
        {% endfor %}
    

{% endblock %}